h3
{
	font-size: 15px;
	font-weight: bold;
}

table.print_layout_table td.inv_number div
{
	display: inline-block;
	vertical-align: middle;
	background: #eee;
	padding: 20px 10px;
	text-align: left;
}

table.print_layout_table td.inv_number h3
{
	font-size: 18px;
	padding-bottom: 10px;
}

table.print_layout_table td.company_info,
table.print_layout_table td.inv_number
{
	vertical-align: bottom;
}

table.print_layout_table td.inv_number
{
	text-align: right;
}

table.print_layout_table td p:last-child
{
	padding-bottom: 0;
}

td.client_info
{
	color: #333;
	line-height: 150%;
	padding-bottom: 15px;
}

td.client_info p
{
	font-size: 18px;
	font-weight: bold;
	padding-bottom: 0;
}

td.client_info p.address
{
	font-size: 12px;
	font-weight: normal;
	line-height: 130%;
}

td.invoice_details ul
{
	font-size: 12px;
	line-height: 170%;
}

td.invoice_details ul li
{
	float: right;
	padding: 20px;
	background: #eee;
	color: #333;
	text-align: center;
	border-right: 1px solid #fff;
}

td.invoice_details ul li:last-child
{
	border-right: 1px solid none;
}

td.invoice_details ul span
{
	font-size: 15px;
	font-weight: bold;
	display: block;
	color: #000;
}

.border_bottom
{
	border-bottom: 1px solid #ccc!important;
}